.product-card {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.product-card img {
    border-radius: 8px;
    width: 100%; /* Full width of the card */
    max-height: 300px; /* Maintains maximum height */
    object-fit: contain; /* Ensures no cropping */
}

.product-card h2 {
    font-size: 1.2em; 
    margin: 8px 0; 
}

.product-card p {
    margin: 1px 0;
    flex-grow: 1; 
    height: 3.5em; 
    line-height: 1.4; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.stock-status {
    font-weight: bold;
    font-size: 0.9em; 
}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}

.favorite-button, .buy-button {
    background-color: #c7be6b !important;
    border: none !important;
    color: white !important;
}

.buy-button {
    width: 100%; 
    padding: 8px; 
}

.favorite-button {
    margin-left: 5px; 
    padding: 8px; 
}

.favorite-button:hover, .buy-button:hover {
    background-color: #1c1f00 !important;
}

.fa {
    font-size: 20px; 
}
